<%- include('partials/header') -%>
<h2>Scientific Paper Database</h2>
<hr>
<br>
<!-- back to home -->
<form action="/" method="get">
  <button type="submit">Home</button>
</form>

<!-- single table view -->
<form action="/single_table_view" method="post">
    <label for="tables">Select a table:</label>
    <select name="table" id="table">
      <option value="" selected="selected" hidden="hidden">Choose here</option>
      <option value="authors">Authors</option>
      <option value="articles">Articles</option>
      <option value="publish">Publishes</option>
      <option value="writes" >Writes</option>
      <option value="journals">Journals</option>
    </select>
    <input type="submit" value="Submit">
  </form>

  <hr>

  <!-- all tables joined -->
  <form action="/all_joined" method="post">
    <button type="submit">Join All Tables</button>
  </form>

  <hr>

  <!-- search for specific article -->
    <!-- search by DOI -->
    <form action="/search" method="post">
      <label for="DOI">Search for single Articles by DOI:</label>
      <input type="text" name="DOI">
      <button type="submit">Search</button>
    </form>
    <!-- search by Title, year of publication and authors -->
    <form action="/search" method="post">
      <p>Search for multiple articles:</p>
      <label for="Title">Title</label>
      <input type="text" name="Title">
      <label for="Year">Year of Publication between</label>
      <input type="text" name = "yearFrom">
      <label for="">and</label>
      <input type="text" name = "yearTo">
      <label for="A_Names">Author Names</label>
      <input type="text" name = "A_Names">
      <button type="submit">Search</button>
    </form>

    <hr>
  <!-- search for specific journal -->
    <!-- search by name + journal rank -->

<% if (entries.length > 0) { %>
<table>
    <tr>
        <% for (let i = 0; i < displayedHeaders.length; i++) { %>
          <form action="" method="post">
            <th name = "header" value=""><%=displayedHeaders[i]%>
            <button name = "ascButton" value="<%= tableHeaders[i]%>">ASC</button>
            <button name = "descButton" value="<%= tableHeaders[i]%>">DESC</button>
          </form>
        </th>
        <%}%>
    </tr>
    <% for (let i = 0; i < entries.length; i++) { %>
    <tr>
        <% for (let j = 0; j < tableHeaders.length; j++) { %>
        <td> <%= entries[i][tableHeaders[j]] %></td>
        <% }%>
    </tr>
    <% } %>
</table>

<% }%>

<%- include('partials/footer') -%>